<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Globe" connectionString="Data Source=127.0.0.1;Persist Security Info=False;Initial Catalog=veco;User ID=root;Password=qwerty;pooling=true;Connect Timeout=18000; allow user Variables=true " providerName="Mysql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <identity impersonate="true" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="GlobeService.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
